:root{
    --colorfondo:#c2e7da;
    --colorbloques:#6290c3;
    --colorcirculos:#660000;
}
h2{
  font-size: 30px;
}
.cabecera {
  height: 276px;
}
.cabecera h1 {
  font-size: 2rem;
}
.cabecera p {
  font-size: 1.6rem;
}
.cabecera * {
  margin: 5px 0;
}
p.sm-text {
  padding-top: 5px;
  font-size: 0.8rem;
}
.principal {
  background-color: var(--colorfondo);
}
.caja {
  background-color: var(--colorbloques);
  border-radius: 25px;
  border: 3px solid white;
  font-size: 25px;
}
.caja img{
  width: 218px;
}
.marco-foto {
  flex: 0 278px;
  max-width: 278px;
  border-right: 2px dotted white;
  position: relative;
}
.marco-foto span {
  width: 50px;
  height: 50px;
  background-color: #660000;
  position: absolute;
  bottom: -10px;
  left: 195px;
}
@media (max-width: 501px){
  .marco-foto {
    flex: 1 ;
}
}